body {
  background-color: #111;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  overflow-y: scroll;
}
svg {
  display: none;
}
canvas {
  position: fixed;
  height: 100vh;
  width: 100vw;
  opacity: .4;
}
table {
  margin: 0 auto;
  border-collapse: collapse;
  background-color: #CFE8CC;
  min-height: 100%;
}
table tr td:nth-of-type(odd) {
  background-color: #E0E0E0;
}
table tr td {
  padding: 1rem;
  box-sizing: border-box;
  border: 1px #ccc2c2 solid;
  text-align: center;
  font-weight: bold;
}
table tr td .hobby {
  text-align: left;
  letter-spacing: .1em;
}
table tr .head-img-td {
  padding: 0;
  background-color: #fff !important;
}
table tr .head-img-td #head-img {
  width: 10em;
  vertical-align: middle;
}
table tr .content {
  width: 12rem;
  font-weight: normal;
}
table tr .big-td {
  padding: 4rem 1rem;
}
table tr .big-td + td {
  text-align: left;
  padding: 0 1rem;
}
table tr .big-td + td p {
  line-height: 1.8em;
  letter-spacing: .1em;
}
@media screen and (max-width: 800px) {
  table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 100%;
  }
  table tr td {
    padding: 1rem;
    border: 1px #ccc2c2 solid;
    text-align: center;
  }
  table tr .head-img-td {
    padding: 0;
  }
  table tr .head-img-td #head-img {
    width: 10rem;
    height: 13rem;
  }
  table tr .content {
    width: 0rem;
    font-weight: bold;
  }
  table tr .big-td {
    padding: 4rem 1rem;
  }
  table tr .big-td + td {
    text-align: left;
    padding: 0 1rem;
  }
  table tr .big-td + td p {
    line-height: 1.2em;
    letter-spacing: .1em;
    margin: .5em 0;
  }
}
